*{
    box-sizing: border-box;
}
body{
    background: url('/images/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: #2F4F4F;
    background-repeat: no-repeat;
    border-radius: 0;
    border: 0;
}
#logo-img{
    width: 90px;
    height: 90px;
    margin: 0px 20px 0px 80px;
}

.name{
    padding-top: 10px;
    padding-bottom: 0;

}
.navbar-brand h1{
    font-family: 'Lora', serif;
    color: #00FF7F;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0;
    line-height: 0;
}

.name a, .name a:hover, .name a:focus{
    text-decoration: none;
}  
.name p{
    color: #F08080;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 0px;
    margin-left: 15px;
}
.name p img{
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;

}
#navbarNav ul{
    color: #fff;
    margin-right: 20px;
    margin-top: 5px;

}
.nav-item a{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 0px;
    font-weight: bold;
}
.a-item{
    color: rgb(7, 230, 144);
    margin-top: 5px;
}

.nav-item svg{
    margin-top: 10px;
    margin-left: 18px;
    color: #00FFFF;
}

.a-item:hover{

    color: #800000;
}
.container-fluid button.navbar-toggler{
    border: 2px solid black;
}

@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
 
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 768px) {
  /* Header */
  #header-nav{
    height: 80px;
    background-color: #2F4F4F;
    background-repeat: no-repeat;
    border-radius: 0;
    border: 0;
}
  .navbar-brand h1{
    font-family: 'Lora', serif;
    color: #00FF7F;
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: -10px;
    font-weight: bold;
    margin-left: 10px;
}
.name p{
    color: #f83535;
    text-transform: uppercase;
    font-size: 2vw;
    margin-left: 10px;
}
.container-fluid button.navbar-toggler{
    border: 2px solid black;
    padding:0;
    margin-top:-10px;

}
  }


