
body{
    /* background-image: url("/images/back.jpg"); */
    background-color: #25274d;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: black;
    background-repeat: no-repeat;
    border-radius: 0;
    border: 0;
}
#logo-img{
    width: 90px;
    height: 90px;
    margin: 0px 20px 0px 80px;
}

.name{
    padding-top: 10px;
    padding-bottom: 0;

}
.navbar-brand h1{
    font-family: 'Lobster', cursive;
    color: wheat;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0;
    line-height: 0;
}
    
.name a, .name a:hover, .name a:focus{
    text-decoration: none;
}  
.name p{
    color: #F08080;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 0px;
    margin-left: 15px;
}
.name p img{
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;

}
#navbarNav ul{
    color: wheat;
    margin-right: 20px;
    margin-top: 15px;

}

.a-item{
    color: wheat;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 5px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}
.nav-item img{
margin-left: 22px;
}
.d-item{
    color: wheat;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.a-item:hover{

    color: #800000;
}

#tgl button.navbar-toggler{
    border: 1px solid rgb(211, 162, 72);
    color: white;
    background-color: white;
}
 .carousel-caption h5{
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 2.5vw;   
    border: 3px dotted white;
    background-color:black;
    
}
.carousel-caption p{
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2vw;   
    border: 2px dotted white;
    background-color:black;
}
.col-md-3{
    margin-top: 10px;
}

.card-body{
    background-color: darkgray;
}
.card-body h4{
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
.card-body p{
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
}
.card-body:hover, .card-img-top:hover{
    box-shadow: 0px 2px 5px 2px #cccccc;

}
#footer{
    background-color: black;
}
.footer-col{
    color: white;
}
.widget-title{
    font-size: 20px; 
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}
#footer-desc{
    color: white;
    font-size: 15px; 
    font-family: 'Oxygen', sans-serif;
    margin: 10px;
    padding: 5px;
}
#footer-desc2{
    color: white;
    font-size: 15px; 
    font-family: 'Oxygen', sans-serif;
    margin: 10px;
    padding: 5px;
    font-style: italic;
}
.thumb-content a{
    text-decoration: none;
    color: white;
    font-size: 15px; 
    font-family: 'Oxygen', sans-serif;
    margin: 10px;
}
#domain{
    text-decoration: none;
    color: white;
    font-size: 15px; 
    font-family: 'Oxygen', sans-serif;
    margin-left: 18px;
    padding: 6px;
    border: 1px solid white;
}
.social-footer2{
    list-style-type: none;
}
.thumb-content:hover{
    box-shadow: 0px 2px 5px 2px #cccccc;
}

#domain:hover{
    box-shadow: 0px 2px 5px 2px #cccccc;
}
#social:hover{
    box-shadow: 0px 2px 5px 2px #cccccc;
}


@media (min-width: 1200px) {
    #map-card iframe{
        width: 100%;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #map-card iframe{
    width: 100%;
}
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #map-card iframe{
        width: 100%;
    }
    .delivery-item img{
        margin-top: -10px;
        margin-left: 65px;
        margin-bottom: -10px;
        color: #00FFFF;
    }
    #domain{
        text-decoration: none;
        color: white;
        font-size: 10px; 
        font-family: 'Oxygen', sans-serif;
        margin-left: 15px;
        padding: 3px;
        border: 1px solid white;
    }
}

/********** Extra small devices only **********/
@media (max-width: 768px) {
    #map-card iframe{
        width: 100%;
    }
  #header-nav{
    background-color:black;
    background-repeat: no-repeat;
    border-radius: 0;
    border: 0;
}
  .navbar-brand h1{
    font-family: 'Lobster', cursive;
    color: wheat;
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: -18px;
    font-weight: bold;
    margin-left: 20px;
}
.name p{
    color: #f83535;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: bold;
    margin-left: 20px;
}

.container-fluid button{
    border: 1px solid wheat;
    padding:0;
    background-color: white;

}
.carousel-item img{
    width: 50%;
    height: 50%;
}
.col-md-3{
    width: 50%;
    height: 50%;
}
.card-body h4{
    font-size: 4vw;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
.card-body p{
    font-size: 3vw;
    font-family: 'Oxygen', sans-serif;
}
.d-item{
    color: wheat;
    margin-top: 0px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 2vw;

}
.a-item{
    color: wheat;
    margin-top: 0px;
    font-size: 2vw;
}

.delivery-item img{
    margin-top: -10px;
    margin-left: 45px;
    margin-bottom: -8px;
    color: #00FFFF;
}
#domain{
    text-decoration: none;
    color: white;
    font-size: 10px; 
    font-family: 'Oxygen', sans-serif;
    margin-left: 15px;
    padding: 3px;
    border: 1px solid white;
}

  }


  .accordion-button{
    color: white;
    background-color: black;

  }
  #item-details{
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    text-align:justify;
  }
  .accordion-body{
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
  }
  .accordion-body a{
    text-decoration: none;
    color: black;
    
  }
  #pizza-item{
    font-size: 25px;
    font-family: 'Oxygen', sans-serif;
    text-align:center;
    color: white;
    text-shadow: black;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(221, 8, 8);

  }
  #menu-page h2{
    font-size: 25px;
    font-family: 'Oxygen', sans-serif;
    text-align:center;
    color: white;
    text-shadow: black;
    font-weight: bold; 
    text-shadow: 5px 5px 5px rgb(221, 8, 8);
  }