*{
    box-sizing: border-box;
}
body{
    /* background: url("/images/back.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: #2F4F4F;
    background-repeat: no-repeat;
    border-radius: 0;
    border: 0;
}
#logo-img{
    width: 90px;
    height: 90px;
    margin: 0px 20px 0px 80px;
}

.name{
    padding-top: 15px;

}
.navbar-brand h1{
    font-family: 'Lora', serif;
    color: #00FF7F;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0;
    line-height: 0;
}

.name a, .name a:hover, .name a:focus{
    text-decoration: none;
}  
.best p{
    color: #F08080;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 0px;
    margin-left: 15px;
}
.best p img{
    border-radius: 50%;
    padding-right: 6px;
}
#navbarNav ul{
    color: #fff;
    margin-right: 20px;
    margin-top: 5px;

}
.nav-item a{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 0px;
    font-weight: bold;
}
.a-item{
    color: rgb(7, 230, 144);
    margin-top: 5px;
}

.nav-item svg{
    margin-top: 10px;
    margin-left: 18px;
    color: #00FFFF;
}

.a-item:hover{

    color: #800000;
}


